body {
    margin: 0%;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: blue;
    text-transform: capitalize;
}

.address-book {
    color: black;
}

/* *{ box-sizing: border-box;} */

.form-content {
    min-height: calc(100% - 80px);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
}

.form {
    width: 45%;
    padding: 44px 50px;
    background: white;
    box-shadow: 5px 5px 3px black;
    border: 2px solid ;
    opacity: 1;
    margin-top: 10px;
    border-radius: 8px;
}

.form-head {
    display: flex;
    justify-content: center;
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: red;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.row-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
    flex-flow: wrap;
}

/* .label {
    width: 20%;
} */

/* label {
    padding: 12px 12px 12px 0;
    display: inline-block;
} */

.text {
    font-size: 15px;
    color: black;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 80%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    resize: vertical;
}

select {
    padding: 8px;
    border-radius: 6px;
    font: normal normal 16px Roboto;
    resize: vertical;
    border: 1px solid;
    letter-spacing: 0px;
    color: #8f98a1;
    background-color: transparent;
}

.select-content {
    padding-top: 20px;
}

.suraj-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 92%;
    box-sizing: border-box;
    padding-left: 8%;
    padding-top: 10px;
}

.buttonParent {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
}
  
button {
    font-size: 12px;
    padding: 7px 7px;
    color: #42515f;
    background: transparent;
    font-family: "Roboto";
    border: none;
    font-weight: 480;
    width: 110px;
    opacity: 1;
    background-color: #e2e2e2;
    border: 1px solid #707070;
    letter-spacing: 0px;
    cursor: pointer;
}
  
/* .submitButton {
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
} */
